<div class="card">
    <div class="card-content">
        <span class="card-title"><%= post.user.name %></span>
        <span><%= post.created_at %></span>
        <p class="pre-line"><%= post.content %></p>
    </div>

    <div class="card-action">
        <%= post.likes.size %> people liked this!
        <% if current_user.is_like?(post) %>
          <%= link_to "Unlike", post_like_url(post), method: "post" %>
        <% else %>
          <%= link_to "Like", post_like_url(post), method: "post" %>
        <% end %>
        <% if current_user.id == post.user_id %>
          <%= link_to 'Delete', post_url(post), method: "Delete", class: "right"  %>
          <%= link_to 'Modify', edit_post_url(post), class: "right" %>
        <% end %>
        <a href="#">Comment</a>
    </div>
</div>
