<div class="card">
    <div class="card-content">
        <span class="card-title"><%= post.user.name %></span>
        <span><%= post.created_at %></span>
        <p class="pre-line"><%= post.content %></p>
    </div>

    <div class="card-action">
        <%= post.likes.size %> people liked this!
        <% if current_user.is_like?(post) %>
          <%= link_to "Unlike", post_like_url(post), method: "post" %>
        <% else %>
          <%= link_to "Like", post_like_url(post), method: "post" %>
        <% end %>
        <% if current_user.id == post.user_id %>
          <%= link_to 'Delete', post_url(post), method: "Delete", class: "right"  %>
          <%= link_to 'Modify', edit_post_url(post), class: "right" %>
        <% end %>
        <%= form_tag post_comments_url(post) do %>
          <div class="input-field">
            <%= text_area_tag :content, nil, class: 'materialize-textarea', placeholder: "Leave your comment", required: true %>
          </div>
          <div class="input-field">
            <%= button_tag "COMMENT", class: "btn" %>
          </div>
          <% end %>
          <% if post.comments.present? %>
        <ul class="collection">
        <% post.comments.each do |comment| %>
          <li class="collection-item">
            <span class="title"><%= comment.user.name %></span>
            <span class="right"><%= comment.created_at %></span>
            <p class="pre-line"><%= comment.content %></p>
            <% if comment.user.id == current_user.id %>
              <div><%= link_to "Delete", post_comment_path(post, comment), method: "delete" %></div>
            <% end %>
          </li>
        <% end %>
        </ul>
      <% end %>
    </div>
</div>
