<!DOCTYPE html>
<html>
  <head>
    <title>Social</title>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">SNS</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href=<%= root_url %>>Posts</a></li>
          <% if user_signed_in? %>
            <li><%= current_user.name %></li>
            <li><%= link_to 'Sign_out', destroy_user_session_url, method: 'delete' %></li>
          <% else %>
            <li><a href=<%= new_user_session_url %>>Sign-in</a></li>
            <li><a href=<%= new_user_registration_url %>>Sign-up</a></li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/posts">Posts</a></li>
          <li><a href="#">Sign-in</a></li>
          <li><a href="#">Sign-out</a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
